build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj.user
build/build_doclink_fix_debug.txt
build/build_doclink_fix.txt
build/build_output.txt
build/build_output2.txt
build/build_output3.txt
build/build_output4.txt
build/build_output5.txt
build/build_output6.txt
build/build_output7.txt
build/build_output8.txt
build/build_phase1_fix.txt
build/cmake_install.cmake
build/CMakeCache.txt
build/LaserCNC.sln
build/LaserCNC.vcxproj
build/LaserCNC.vcxproj.filters
build/LaserCNC.vcxproj.user
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-6447f1fdb2690f97f523.json
build/.cmake/api/v1/reply/cmakeFiles-v1-390c1a6a4acb1149573f.json
build/.cmake/api/v1/reply/codemodel-v2-82611d942075b793cd8f.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2026-03-20T09-48-38-0220.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-7c10fba93083811181ce.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-7c10fba93083811181ce.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-7c10fba93083811181ce.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-7c10fba93083811181ce.json
build/.cmake/api/v1/reply/target-LaserCNC-Debug-c4dbab730a766521d328.json
build/.cmake/api/v1/reply/target-LaserCNC-MinSizeRel-77187667ea7be0d2409b.json
build/.cmake/api/v1/reply/target-LaserCNC-Release-a9e53c1d44873341efa6.json
build/.cmake/api/v1/reply/target-LaserCNC-RelWithDebInfo-728f89fc5ba63e0a22d9.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-826c384c928670120b05.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-826c384c928670120b05.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-826c384c928670120b05.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-826c384c928670120b05.json
build/.cmake/api/v1/reply/toolchains-v1-da2625399d591a8eed75.json
build/.qt/QtDeploySupport-Debug.cmake
build/.qt/QtDeploySupport-MinSizeRel.cmake
build/.qt/QtDeploySupport-Release.cmake
build/.qt/QtDeploySupport-RelWithDebInfo.cmake
build/.qt/QtDeployTargets-Debug.cmake
build/.qt/QtDeployTargets-MinSizeRel.cmake
build/.qt/QtDeployTargets-Release.cmake
build/.qt/QtDeployTargets-RelWithDebInfo.cmake
build/.vs/LaserCNC/CopilotIndices/18.5.39068.60183/CodeChunks.db
build/.vs/LaserCNC/CopilotIndices/18.5.39068.60183/SemanticSymbols.db
build/.vs/LaserCNC/FileContentIndex/c299a35b-6b23-40c8-9c31-e484b2d7519e.vsidx
build/.vs/LaserCNC/v18/.suo
build/.vs/LaserCNC/v18/DocumentLayout.backup.json
build/.vs/LaserCNC/v18/DocumentLayout.json
build/.vs/LaserCNC/v18/fileList.bin
build/.vs/LaserCNC/v18/Insiders/Browse.VC.db
build/.vs/LaserCNC/v18/Insiders/Solution.VC.db
build/.vs/LaserCNC/v18/Insiders/Solution.VC.db-shm
build/.vs/LaserCNC/v18/Insiders/Solution.VC.db-wal
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.29.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.29.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.29.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.29.3/CMakeSystem.cmake
build/CMakeFiles/3.29.3/VCTargetsPath.txt
build/CMakeFiles/3.29.3/VCTargetsPath.vcxproj
build/CMakeFiles/3.29.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.29.3/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.29.3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/vcpkg.applocal.log
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/3.29.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.29.3/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.29.3/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/55f4488be5491f62b223abba7b207395/generate.stamp.rule
build/CMakeFiles/f37c6306464ceb7976c18acd995d5833/qrc_resources.cpp.rule
build/CMakeFiles/LaserCNC_autogen.dir/AutogenInfo.json
build/CMakeFiles/LaserCNC_autogen.dir/AutogenUsed_Debug.txt
build/CMakeFiles/LaserCNC_autogen.dir/AutogenUsed_Release.txt
build/CMakeFiles/LaserCNC_autogen.dir/AutoRcc_resources_3YJK5W5UP7_Info.json
build/CMakeFiles/LaserCNC_autogen.dir/AutoRcc_resources_3YJK5W5UP7_Lock.lock
build/CMakeFiles/LaserCNC_autogen.dir/AutoRcc_resources_3YJK5W5UP7_Used_Debug.txt
build/CMakeFiles/LaserCNC_autogen.dir/AutoRcc_resources_3YJK5W5UP7_Used_Release.txt
build/CMakeFiles/LaserCNC_autogen.dir/ParseCache_Debug.txt
build/CMakeFiles/LaserCNC_autogen.dir/ParseCache_Release.txt
build/Debug/ACSCL_x64.dll
build/Debug/avcodec-57.dll
build/Debug/avdevice-57.dll
build/Debug/avfilter-6.dll
build/Debug/avformat-57.dll
build/Debug/avutil-55.dll
build/Debug/DRAWEXE.exe
build/Debug/ExpToCasExe.exe
build/Debug/FreeImage.dll
build/Debug/FreeImagePlus.dll
build/Debug/freetype.dll
build/Debug/jemalloc.dll
build/Debug/LaserCNC.exe
build/Debug/LaserCNC.exp
build/Debug/LaserCNC.lib
build/Debug/LaserCNC.pdb
build/Debug/MainWindowExample.exe
build/Debug/MainWindowExampled.exe
build/Debug/MdiAreaWindowExample.exe
build/Debug/MdiAreaWindowExampled.exe
build/Debug/NormalMenuBarExample.exe
build/Debug/NormalMenuBarExampled.exe
build/Debug/openvr_api.dll
build/Debug/QWKCored.dll
build/Debug/QWKWidgetsd.dll
build/Debug/SARibbonBar.dll
build/Debug/SARibbonBard.dll
build/Debug/swscale-4.dll
build/Debug/tbb12_debug.dll
build/Debug/tbb12.dll
build/Debug/TInspectorEXE.exe
build/Debug/TKBin.dll
build/Debug/TKBinL.dll
build/Debug/TKBinTObj.dll
build/Debug/TKBinXCAF.dll
build/Debug/TKBO.dll
build/Debug/TKBool.dll
build/Debug/TKBRep.dll
build/Debug/TKCAF.dll
build/Debug/TKCDF.dll
build/Debug/TKD3DHost.dll
build/Debug/TKD3DHostTest.dll
build/Debug/TKDCAF.dll
build/Debug/TKDE.dll
build/Debug/TKDECascade.dll
build/Debug/TKDEGLTF.dll
build/Debug/TKDEIGES.dll
build/Debug/TKDEOBJ.dll
build/Debug/TKDEPLY.dll
build/Debug/TKDESTEP.dll
build/Debug/TKDESTL.dll
build/Debug/TKDEVRML.dll
build/Debug/TKDFBrowser.dll
build/Debug/TKDraw.dll
build/Debug/TKernel.dll
build/Debug/TKExpress.dll
build/Debug/TKFeat.dll
build/Debug/TKFillet.dll
build/Debug/TKG2d.dll
build/Debug/TKG3d.dll
build/Debug/TKGeomAlgo.dll
build/Debug/TKGeomBase.dll
build/Debug/TKHLR.dll
build/Debug/TKIVtk.dll
build/Debug/TKIVtkDraw.dll
build/Debug/TKLCAF.dll
build/Debug/TKMath.dll
build/Debug/TKMesh.dll
build/Debug/TKMeshVS.dll
build/Debug/TKMessageModel.dll
build/Debug/TKMessageView.dll
build/Debug/TKOffset.dll
build/Debug/TKOpenGl.dll
build/Debug/TKOpenGles.dll
build/Debug/TKOpenGlesTest.dll
build/Debug/TKOpenGlTest.dll
build/Debug/TKPrim.dll
build/Debug/TKQADraw.dll
build/Debug/TKRWMesh.dll
build/Debug/TKService.dll
build/Debug/TKShapeView.dll
build/Debug/TKShHealing.dll
build/Debug/TKStd.dll
build/Debug/TKStdL.dll
build/Debug/TKTInspector.dll
build/Debug/TKTInspectorAPI.dll
build/Debug/TKTObj.dll
build/Debug/TKTObjDRAW.dll
build/Debug/TKToolsDraw.dll
build/Debug/TKTopAlgo.dll
build/Debug/TKTopTest.dll
build/Debug/TKTreeModel.dll
build/Debug/TKV3d.dll
build/Debug/TKVCAF.dll
build/Debug/TKView.dll
build/Debug/TKViewerTest.dll
build/Debug/TKVInspector.dll
build/Debug/TKXCAF.dll
build/Debug/TKXDEDRAW.dll
build/Debug/TKXMesh.dll
build/Debug/TKXml.dll
build/Debug/TKXmlL.dll
build/Debug/TKXmlTObj.dll
build/Debug/TKXmlXCAF.dll
build/Debug/TKXSBase.dll
build/Debug/TKXSDRAW.dll
build/Debug/TKXSDRAWDE.dll
build/Debug/TKXSDRAWGLTF.dll
build/Debug/TKXSDRAWIGES.dll
build/Debug/TKXSDRAWOBJ.dll
build/Debug/TKXSDRAWPLY.dll
build/Debug/TKXSDRAWSTEP.dll
build/Debug/TKXSDRAWSTL.dll
build/Debug/TKXSDRAWVRML.dll
build/Debug/UseNativeFrameExample.exe
build/Debug/UseNativeFrameExampled.exe
build/Debug/WidgetWithRibbon.exe
build/Debug/WidgetWithRibbond.exe
build/Debug/zlib1.dll
build/LaserCNC.dir/Debug/app_context.obj
build/LaserCNC.dir/Debug/commands_api.obj
build/LaserCNC.dir/Debug/commands_display.obj
build/LaserCNC.dir/Debug/commands_edit.obj
build/LaserCNC.dir/Debug/commands_file.obj
build/LaserCNC.dir/Debug/dialog_task_manager.obj
build/LaserCNC.dir/Debug/graphics_scene.obj
build/LaserCNC.dir/Debug/gui_application.obj
build/LaserCNC.dir/Debug/gui_document.obj
build/LaserCNC.dir/Debug/LaserCNC.exe.recipe
build/LaserCNC.dir/Debug/LaserCNC.ilk
build/LaserCNC.dir/Debug/lcnc_application.obj
build/LaserCNC.dir/Debug/lcnc_document.obj
build/LaserCNC.dir/Debug/main.obj
build/LaserCNC.dir/Debug/mainwindow.obj
build/LaserCNC.dir/Debug/mocs_compilation_Debug.obj
build/LaserCNC.dir/Debug/shape_object_driver.obj
build/LaserCNC.dir/Debug/task_manager.obj
build/LaserCNC.dir/Debug/task_progress.obj
build/LaserCNC.dir/Debug/vc143.pdb
build/LaserCNC.dir/Debug/vcpkg.applocal.log
build/LaserCNC.dir/Debug/widget_laser_control.obj
build/LaserCNC.dir/Debug/widget_machine_panel.obj
build/LaserCNC.dir/Debug/widget_model_tree.obj
build/LaserCNC.dir/Debug/widget_occ_view.obj
build/LaserCNC.dir/Debug/xcaf_utils.obj
build/LaserCNC.dir/Debug/LaserCNC.tlog/CL.command.1.tlog
build/LaserCNC.dir/Debug/LaserCNC.tlog/Cl.items.tlog
build/LaserCNC.dir/Debug/LaserCNC.tlog/CL.read.1.tlog
build/LaserCNC.dir/Debug/LaserCNC.tlog/CL.write.1.tlog
build/LaserCNC.dir/Debug/LaserCNC.tlog/CustomBuild.command.1.tlog
build/LaserCNC.dir/Debug/LaserCNC.tlog/CustomBuild.read.1.tlog
build/LaserCNC.dir/Debug/LaserCNC.tlog/CustomBuild.write.1.tlog
build/LaserCNC.dir/Debug/LaserCNC.tlog/LaserCNC.lastbuildstate
build/LaserCNC.dir/Debug/LaserCNC.tlog/link.command.1.tlog
build/LaserCNC.dir/Debug/LaserCNC.tlog/link.read.1.tlog
build/LaserCNC.dir/Debug/LaserCNC.tlog/link.secondary.1.tlog
build/LaserCNC.dir/Debug/LaserCNC.tlog/link.write.1.tlog
build/LaserCNC.dir/Debug/LaserCNC_autogen/3YJK5W5UP7_Debug/qrc_resources.cpp.obj
build/LaserCNC.dir/Release/app_context.obj
build/LaserCNC.dir/Release/commands_api.obj
build/LaserCNC.dir/Release/commands_display.obj
build/LaserCNC.dir/Release/commands_edit.obj
build/LaserCNC.dir/Release/commands_file.obj
build/LaserCNC.dir/Release/dialog_task_manager.obj
build/LaserCNC.dir/Release/graphics_scene.obj
build/LaserCNC.dir/Release/gui_application.obj
build/LaserCNC.dir/Release/gui_document.obj
build/LaserCNC.dir/Release/LaserCNC.exe.recipe
build/LaserCNC.dir/Release/LaserCNC.log
build/LaserCNC.dir/Release/lcnc_application.obj
build/LaserCNC.dir/Release/lcnc_document.obj
build/LaserCNC.dir/Release/main.obj
build/LaserCNC.dir/Release/mainwindow.obj
build/LaserCNC.dir/Release/mocs_compilation_Release.obj
build/LaserCNC.dir/Release/shape_object_driver.obj
build/LaserCNC.dir/Release/task_manager.obj
build/LaserCNC.dir/Release/task_progress.obj
build/LaserCNC.dir/Release/vcpkg.applocal.log
build/LaserCNC.dir/Release/widget_laser_control.obj
build/LaserCNC.dir/Release/widget_machine_panel.obj
build/LaserCNC.dir/Release/widget_model_tree.obj
build/LaserCNC.dir/Release/widget_occ_view.obj
build/LaserCNC.dir/Release/xcaf_utils.obj
build/LaserCNC.dir/Release/LaserCNC.tlog/CL.command.1.tlog
build/LaserCNC.dir/Release/LaserCNC.tlog/Cl.items.tlog
build/LaserCNC.dir/Release/LaserCNC.tlog/CL.read.1.tlog
build/LaserCNC.dir/Release/LaserCNC.tlog/CL.write.1.tlog
build/LaserCNC.dir/Release/LaserCNC.tlog/CustomBuild.command.1.tlog
build/LaserCNC.dir/Release/LaserCNC.tlog/CustomBuild.read.1.tlog
build/LaserCNC.dir/Release/LaserCNC.tlog/CustomBuild.write.1.tlog
build/LaserCNC.dir/Release/LaserCNC.tlog/LaserCNC.lastbuildstate
build/LaserCNC.dir/Release/LaserCNC.tlog/link.command.1.tlog
build/LaserCNC.dir/Release/LaserCNC.tlog/link.read.1.tlog
build/LaserCNC.dir/Release/LaserCNC.tlog/link.secondary.1.tlog
build/LaserCNC.dir/Release/LaserCNC.tlog/link.write.1.tlog
build/LaserCNC.dir/Release/LaserCNC_autogen/3YJK5W5UP7_Release/qrc_resources.cpp.obj
build/LaserCNC_autogen/mocs_compilation_Debug.cpp
build/LaserCNC_autogen/mocs_compilation_Release.cpp
build/LaserCNC_autogen/3YJK5W5UP7_Debug/qrc_resources.cpp
build/LaserCNC_autogen/3YJK5W5UP7_Release/qrc_resources.cpp
build/LaserCNC_autogen/include_Debug/3YJK5W5UP7/qrc_resources_CMAKE_.cpp
build/LaserCNC_autogen/include_Debug/EAZADXNVNV/moc_graphics_scene.cpp
build/LaserCNC_autogen/include_Debug/EAZADXNVNV/moc_graphics_scene.cpp.d
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_app_context.cpp
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_app_context.cpp.d
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_commands_api.cpp
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_commands_api.cpp.d
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_commands_display.cpp
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_commands_display.cpp.d
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_commands_edit.cpp
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_commands_edit.cpp.d
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_commands_file.cpp
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_commands_file.cpp.d
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_dialog_task_manager.cpp
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_dialog_task_manager.cpp.d
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_mainwindow.cpp
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_mainwindow.cpp.d
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_widget_laser_control.cpp
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_widget_laser_control.cpp.d
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_widget_machine_panel.cpp
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_widget_machine_panel.cpp.d
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_widget_model_tree.cpp
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_widget_model_tree.cpp.d
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_widget_occ_view.cpp
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_widget_occ_view.cpp.d
build/LaserCNC_autogen/include_Debug/MXUWEOXILK/moc_gui_application.cpp
build/LaserCNC_autogen/include_Debug/MXUWEOXILK/moc_gui_application.cpp.d
build/LaserCNC_autogen/include_Debug/MXUWEOXILK/moc_gui_document.cpp
build/LaserCNC_autogen/include_Debug/MXUWEOXILK/moc_gui_document.cpp.d
build/LaserCNC_autogen/include_Debug/TADP3ZSRW5/moc_lcnc_application.cpp
build/LaserCNC_autogen/include_Debug/TADP3ZSRW5/moc_lcnc_application.cpp.d
build/LaserCNC_autogen/include_Debug/TADP3ZSRW5/moc_task_manager.cpp
build/LaserCNC_autogen/include_Debug/TADP3ZSRW5/moc_task_manager.cpp.d
build/LaserCNC_autogen/include_Release/3YJK5W5UP7/qrc_resources_CMAKE_.cpp
build/LaserCNC_autogen/include_Release/EAZADXNVNV/moc_graphics_scene.cpp
build/LaserCNC_autogen/include_Release/EAZADXNVNV/moc_graphics_scene.cpp.d
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_app_context.cpp
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_app_context.cpp.d
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_commands_api.cpp
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_commands_api.cpp.d
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_commands_display.cpp
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_commands_display.cpp.d
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_commands_edit.cpp
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_commands_edit.cpp.d
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_commands_file.cpp
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_commands_file.cpp.d
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_dialog_task_manager.cpp
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_dialog_task_manager.cpp.d
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_mainwindow.cpp
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_mainwindow.cpp.d
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_widget_laser_control.cpp
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_widget_laser_control.cpp.d
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_widget_machine_panel.cpp
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_widget_machine_panel.cpp.d
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_widget_model_tree.cpp
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_widget_model_tree.cpp.d
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_widget_occ_view.cpp
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_widget_occ_view.cpp.d
build/LaserCNC_autogen/include_Release/MXUWEOXILK/moc_gui_application.cpp
build/LaserCNC_autogen/include_Release/MXUWEOXILK/moc_gui_application.cpp.d
build/LaserCNC_autogen/include_Release/MXUWEOXILK/moc_gui_document.cpp
build/LaserCNC_autogen/include_Release/MXUWEOXILK/moc_gui_document.cpp.d
build/LaserCNC_autogen/include_Release/TADP3ZSRW5/moc_lcnc_application.cpp
build/LaserCNC_autogen/include_Release/TADP3ZSRW5/moc_lcnc_application.cpp.d
build/LaserCNC_autogen/include_Release/TADP3ZSRW5/moc_task_manager.cpp
build/LaserCNC_autogen/include_Release/TADP3ZSRW5/moc_task_manager.cpp.d
build/Release/ACSCL_x64.dll
build/Release/avcodec-57.dll
build/Release/avdevice-57.dll
build/Release/avfilter-6.dll
build/Release/avformat-57.dll
build/Release/avutil-55.dll
build/Release/DRAWEXE.exe
build/Release/ExpToCasExe.exe
build/Release/FreeImage.dll
build/Release/FreeImagePlus.dll
build/Release/freetype.dll
build/Release/jemalloc.dll
build/Release/LaserCNC.exe
build/Release/LaserCNC.exp
build/Release/LaserCNC.lib
build/Release/MainWindowExample.exe
build/Release/MainWindowExampled.exe
build/Release/MdiAreaWindowExample.exe
build/Release/MdiAreaWindowExampled.exe
build/Release/NormalMenuBarExample.exe
build/Release/NormalMenuBarExampled.exe
build/Release/openvr_api.dll
build/Release/QWKCored.dll
build/Release/QWKWidgetsd.dll
build/Release/SARibbonBar.dll
build/Release/SARibbonBard.dll
build/Release/swscale-4.dll
build/Release/tbb12_debug.dll
build/Release/tbb12.dll
build/Release/tbbmalloc_debug.dll
build/Release/tbbmalloc_proxy_debug.dll
build/Release/tbbmalloc_proxy.dll
build/Release/tbbmalloc.dll
build/Release/tcl86.dll
build/Release/TInspectorEXE.exe
build/Release/tk86.dll
build/Release/TKBin.dll
build/Release/TKBinL.dll
build/Release/TKBinTObj.dll
build/Release/TKBinXCAF.dll
build/Release/TKBO.dll
build/Release/TKBool.dll
build/Release/TKBRep.dll
build/Release/TKCAF.dll
build/Release/TKCDF.dll
build/Release/TKD3DHost.dll
build/Release/TKD3DHostTest.dll
build/Release/TKDCAF.dll
build/Release/TKDE.dll
build/Release/TKDECascade.dll
build/Release/TKDEGLTF.dll
build/Release/TKDEIGES.dll
build/Release/TKDEOBJ.dll
build/Release/TKDEPLY.dll
build/Release/TKDESTEP.dll
build/Release/TKDESTL.dll
build/Release/TKDEVRML.dll
build/Release/TKDFBrowser.dll
build/Release/TKDraw.dll
build/Release/TKernel.dll
build/Release/TKExpress.dll
build/Release/TKFeat.dll
build/Release/TKFillet.dll
build/Release/TKG2d.dll
build/Release/TKG3d.dll
build/Release/TKGeomAlgo.dll
build/Release/TKGeomBase.dll
build/Release/TKHLR.dll
build/Release/TKIVtk.dll
build/Release/TKIVtkDraw.dll
build/Release/TKLCAF.dll
build/Release/TKMath.dll
build/Release/TKMesh.dll
build/Release/TKMeshVS.dll
build/Release/TKMessageModel.dll
build/Release/TKMessageView.dll
build/Release/TKOffset.dll
build/Release/TKOpenGl.dll
build/Release/TKOpenGles.dll
build/Release/TKOpenGlesTest.dll
build/Release/TKOpenGlTest.dll
build/Release/TKPrim.dll
build/Release/TKQADraw.dll
build/Release/TKRWMesh.dll
build/Release/TKService.dll
build/Release/TKShapeView.dll
build/Release/TKShHealing.dll
build/Release/TKStd.dll
build/Release/TKStdL.dll
build/Release/TKTInspector.dll
build/Release/TKTInspectorAPI.dll
build/Release/TKTObj.dll
build/Release/TKTObjDRAW.dll
build/Release/TKToolsDraw.dll
build/Release/TKTopAlgo.dll
build/Release/TKTopTest.dll
build/Release/TKTreeModel.dll
build/Release/TKV3d.dll
build/Release/TKVCAF.dll
build/Release/TKView.dll
build/Release/TKViewerTest.dll
build/Release/TKVInspector.dll
build/Release/TKXCAF.dll
build/Release/TKXDEDRAW.dll
build/Release/TKXMesh.dll
build/Release/TKXml.dll
build/Release/TKXmlL.dll
build/Release/TKXmlTObj.dll
build/Release/TKXmlXCAF.dll
build/Release/TKXSBase.dll
build/Release/TKXSDRAW.dll
build/Release/TKXSDRAWDE.dll
build/Release/TKXSDRAWGLTF.dll
build/Release/TKXSDRAWIGES.dll
build/Release/TKXSDRAWOBJ.dll
build/Release/TKXSDRAWPLY.dll
build/Release/TKXSDRAWSTEP.dll
build/Release/TKXSDRAWSTL.dll
build/Release/TKXSDRAWVRML.dll
build/Release/UseNativeFrameExample.exe
build/Release/UseNativeFrameExampled.exe
build/Release/WidgetWithRibbon.exe
build/Release/WidgetWithRibbond.exe
build/Release/zlib1.dll
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/x64/Release/ALL_BUILD/ALL_BUILD.recipe
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/.cmake/api/v1/reply/codemodel-v2-e948c45eb4b4156ec8e0.json
build/.cmake/api/v1/reply/index-2026-03-20T15-23-00-0300.json
build/.cmake/api/v1/reply/target-LaserCNC-Debug-07b93a95ca4e3b69e709.json
build/.cmake/api/v1/reply/target-LaserCNC-MinSizeRel-ff7a875c9ff6c4820080.json
build/.cmake/api/v1/reply/target-LaserCNC-Release-75a8bfa42af66ee07599.json
build/.cmake/api/v1/reply/target-LaserCNC-RelWithDebInfo-9de0b163e3f3d10ab8ff.json
build/LaserCNC.dir/Debug/commands_cad.obj
build/LaserCNC.dir/Release/commands_cad.obj
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_commands_cad.cpp
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_commands_cad.cpp.d
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_commands_cad.cpp
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_commands_cad.cpp.d
build/.cmake/api/v1/reply/codemodel-v2-5928e06c048ee796186c.json
build/.cmake/api/v1/reply/index-2026-03-20T17-12-00-0397.json
build/.cmake/api/v1/reply/target-LaserCNC-Debug-226cdd98f5236a51dd51.json
build/.cmake/api/v1/reply/target-LaserCNC-MinSizeRel-65044deeb3467330fc5d.json
build/.cmake/api/v1/reply/target-LaserCNC-Release-8119f3d25b9e7b81aaba.json
build/.cmake/api/v1/reply/target-LaserCNC-RelWithDebInfo-53c0541c3b7f6f7efde7.json
build/.vs/LaserCNC/CopilotIndices/18.5.39068.60183/CodeChunks.db-shm
build/.vs/LaserCNC/CopilotIndices/18.5.39068.60183/CodeChunks.db-wal
build/.vs/LaserCNC/CopilotIndices/18.5.39068.60183/SemanticSymbols.db-shm
build/.vs/LaserCNC/CopilotIndices/18.5.39068.60183/SemanticSymbols.db-wal
build/.vs/LaserCNC/FileContentIndex/94069acc-7faa-44c1-bcbd-865830a83fb7.vsidx
build/.vs/LaserCNC/FileContentIndex/b48c4de7-f55b-4535-af2f-3a8e45ba1008.vsidx
build/.vs/LaserCNC/FileContentIndex/d298e669-6693-4996-ae78-1bf51b4c3994.vsidx
build/.vs/LaserCNC/v18/Insiders/Browse.VC.db-shm
build/.vs/LaserCNC/v18/Insiders/Browse.VC.db-wal
build/.vs/LaserCNC/v18/Insiders/Browse.VC.opendb
build/LaserCNC.dir/Debug/commands_machine.obj
build/LaserCNC.dir/Debug/dialog_mark_axes.obj
build/LaserCNC.dir/Debug/machine_kinematics.obj
build/LaserCNC.dir/Release/commands_machine.obj
build/LaserCNC.dir/Release/dialog_mark_axes.obj
build/LaserCNC.dir/Release/LaserCNC.Build.CppClean.log
build/LaserCNC.dir/Release/LaserCNC.vcxproj.FileListAbsolute.txt
build/LaserCNC.dir/Release/machine_kinematics.obj
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_commands_machine.cpp
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_commands_machine.cpp.d
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_dialog_mark_axes.cpp
build/LaserCNC_autogen/include_Debug/ISMKEKEPX5/moc_dialog_mark_axes.cpp.d
build/LaserCNC_autogen/include_Debug/TADP3ZSRW5/moc_machine_kinematics.cpp
build/LaserCNC_autogen/include_Debug/TADP3ZSRW5/moc_machine_kinematics.cpp.d
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_commands_machine.cpp
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_commands_machine.cpp.d
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_dialog_mark_axes.cpp
build/LaserCNC_autogen/include_Release/ISMKEKEPX5/moc_dialog_mark_axes.cpp.d
build/LaserCNC_autogen/include_Release/TADP3ZSRW5/moc_machine_kinematics.cpp
build/LaserCNC_autogen/include_Release/TADP3ZSRW5/moc_machine_kinematics.cpp.d
build/x64/Release/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
build/x64/Release/ZERO_CHECK/ZERO_CHECK.log
build/x64/Release/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
build/.vs/LaserCNC/FileContentIndex/48cbc6b8-3f7c-4c39-b125-fb5e906e54a0.vsidx
